.frontendTitle {
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 70px;
  margin-bottom: 40px;
  color: #001233;
}

.frontendContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.frontendInfo {
  font-size: 45px;
}

.frontendHeader {
  font-size: 100px;
}

.details {
  margin-bottom: 20px;
}

.frontendImage {
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin-right: 100px;
  border-radius: 10px;
}

/* Animation */
.tracking-in-expand {
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .frontendTitle {
    margin-top: 10px;
    color: #001233;
  }

  .frontendContainer {
    flex-direction: column;
  }

  .frontendHeader {
    font-size: 45px;
    margin-top: 10px;
  }

  .frontendDetails {
    display: block;
    font-size: 30px;
  }

  .frontendImage {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
}
