.experienceContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.experienceImg {
  width: 100%;
  margin-right: 200px;
}

.experienceInfo {
  font-size: 45px;
}

.experienceHeader {
  font-size: 100px;
}

.experienceDetails {
  margin-bottom: 20px;
}

.contactSocials i {
  margin-right: 20px;
  cursor: pointer;
}

.experienceImage {
  padding: 10px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background: none;
  font-weight: 600;
}

/* Animation */
.scale-in-center {
  animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Media Query */
@media (max-width: 1100px) {
  .experienceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .experienceImg {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .experienceHeader {
    font-size: 50px;
    text-align: center;
  }

  .experienceSubHeader {
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
  }

  .experienceDetails {
    display: block;
    font-size: 30px;
    padding: 40px;
  }

  .experienceImage {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
